body {
  background-color: #ccc;
}

div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #cccc99;
    }


    li {
      display: inline-block;
      list-style: none;
      width: 10%;
      border: 1px solid black;
      margin-right: 1em;
      padding: .25em;
      width: 5em;
      height: 3.25em;
    }

    li:hover, .selected {
          border: 1px solid blue;
          background-color: blue;
      }
    img {
        width: 95%;
        margin: 0;
        padding: 0;
    }

    figcaption {
      font-style: italic;
      font-weight: bold;
      font-size: 1.25em;
      padding-top: .25em;
    }

    figure {
      text-align: center;
      padding: 1em;
      border: 2px solid #003366;
      background-color: #fff;
      border-radius: 1em;
    }

    .hide {
      display: none;
    }

    .show {
      display: block;
    }
